* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  overflow: hidden;
  background: #0d0d0d;
}

/* CANVAS FUNDO */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 60px;
}

/* TEXTO */
.left h1 {
  color: #ff2c2c;
  font-size: 80px;
  opacity: 0;
}

/* LOGIN */
.login-box {
  width: 400px;
  padding: 40px;
  border-radius: 25px;
  background: rgba(50, 50, 50, 0.4);
  backdrop-filter: blur(15px);
  text-align: center;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s;
}

/* HOVER CARD */
.login-box:hover {
  transform: scale(1.03);
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
  background: #2e2e2e;
  color: white;
}

/* BOTÃO */
.login-box button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  background: #ff2c2c;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #cc2222;
  transform: scale(1.05);
}